<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SampleSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b49d60">  <td>20/12/11 13:04:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.SampleTest1()[pri:0, instance:sampleScripts.SampleTest@6a47b187]">SampleTest1</td> 
  <td>main@630028734</td>   <td></td> </tr>
<tr bgcolor="b49d60">  <td>20/12/11 13:04:42</td>   <td>20761</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.SampleTest2()[pri:0, instance:sampleScripts.SampleTest@6a47b187]">SampleTest2</td> 
  <td>main@630028734</td>   <td></td> </tr>
<tr bgcolor="b49d60">  <td>20/12/11 13:04:30</td>   <td>8841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SampleTest.afterMethod()[pri:0, instance:sampleScripts.SampleTest@6a47b187]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@630028734</td>   <td></td> </tr>
<tr bgcolor="b49d60">  <td>20/12/11 13:04:46</td>   <td>24626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SampleTest.afterMethod()[pri:0, instance:sampleScripts.SampleTest@6a47b187]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@630028734</td>   <td></td> </tr>
<tr bgcolor="b49d60">  <td>20/12/11 13:04:16</td>   <td>-5243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SampleTest.beforeMethod()[pri:0, instance:sampleScripts.SampleTest@6a47b187]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@630028734</td>   <td></td> </tr>
<tr bgcolor="b49d60">  <td>20/12/11 13:04:31</td>   <td>9398</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SampleTest.beforeMethod()[pri:0, instance:sampleScripts.SampleTest@6a47b187]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@630028734</td>   <td></td> </tr>
</table>
